*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main{
  background-color: #1a242e;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 4em;
  background: linear-gradient(190deg, #42d392, #9900F0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  padding: 30px;

}
.btn-game{
  color: white;
  background: #467EFB;
  text-decoration: none;
  text-align: center;
  font-size: larger;
  width: 100px;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
}
.gameInterface{
  background: #2d3e50;
  height: 100vh;
  color: #fefefe;
  display: grid;
  justify-content: center;

}
.gameInterface .players{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 30px 0 30px;
  /* justify-items: center; */
}
.players div:nth-child(1){
  text-align: left;
  display: flex;
  align-items: center;
}

.players div:nth-child(2){
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
 
}
.gameInterface .players div>p:nth-child(1){
  font-size: 2em;
  padding: 8px;
  
}
.players img{
  width: 45px;
}
.players div>p:nth-child(2){
  border: 3px solid #1e2934;
  padding: 8px;
  border-radius: 4px;
}
.gameInterface .boardGame{
  background-color: #34495e;
  display: grid;
  grid-template-columns: 190px 190px 190px;
  grid-template-rows: 190px 190px 190px;
  margin: 30px 30px 0px;
  gap: 30px;
  padding: 20px 20px 0px;
  border-radius: 15px;
  justify-content: center;
  width: fit-content;
  
}
.boardGame div{
  border: 5px solid #1e2934;
  border-radius: 9px;

}
.boardGame>div{
  font-size: 165px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.gameInterface>section:nth-child(3){
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  justify-items: center;
  align-items: center;
}
.gameInterface>section:nth-child(3)>div{
  font-size: 30px;
}
.gameInterface>section:nth-child(3) .reset{
  width: 130px;
  font-size: 23px;
  padding: 12px;
  border: none;
  border-radius: 7px;
  background-color: #FF8400;
}
img{
  max-width: 50%;

}